<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Form</title>
</head>
<body>
    <center>
        <form method="POST"
            <h2>Register</h2>
            <label for="username">Username:</label>
            <input name="username" type="text" id="username" required><br>
            <label for="mobile">Mobile:</label>
            <input name="mobile" type="tel" id="mobile" required><br>
            <label for="email">Email:</label>
            <input name="email" type="email" required><br>
            <label for="address">Address:</label>
            <input name="address" type="text" id="address"><br>
            <label for="password">Password:</label>
            <input name="password" type="password" id="password"><br>
            <button type="submit">Submit</button>
        </form>
    </center>
</body>
</html>